[Desktop Entry]
Name=Pacman (SDL)
Comment=Yet another pacman clone in C/C++ and SDL
Exec=~/tomas/SDL/pacman/game/pacman
Icon=~/tomas/SDL/pacman/game/gfx/pacman_desktop.png
Type=Application
Categories=Game;ArcadeGame;
